# ------------ LibRapid ----------------------------------
[submodule "lib/xtl"] # xtensor::xtl
 # xtensor::xtl
 # xtensor::xtl
 # xtensor::xtl
 # xtensor::xtl
	path = lib/xtl
	url = https://github.com/xtensor-stack/xtl.git
[submodule "lib/xsimd"] # xtensor::xtl
 # xtensor::xtl
 # xtensor::xtl
 # xtensor::xtl
 # xtensor::xtl
	path = lib/xsimd
	url = https://github.com/xtensor-stack/xsimd.git
[submodule "lib/xtensor"]
	path = lib/xtensor
	url = https://github.com/xtensor-stack/xtensor.git

# JSON for Modern C++
[submodule "lib/nanobench"]
	path = lib/nanobench
	url = https://github.com/martinus/nanobench.git